
@{
    /**/

    /**/

    ViewBag.Title = "BuscarNombre";
}
<br />
<br />
@if (ViewBag.mostrar != null)

{
    <h2>El fármaco buscado por nombre es: </h2>
    <table style="width:100%">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Casa Productora</th>
            <th>Unidades Disponibles</th>
            <th>Precio</th>
        </tr>
        <tr>
            <td>@ViewBag.Mostrar.Id</td>
            <td>@ViewBag.Mostrar.Nombre</td>
            <td>@ViewBag.Mostrar.descripcion</td>
            <td>@ViewBag.Mostrar.Productora</td>
            <td>@ViewBag.Mostrar.Cantidad</td>
            <td>$@ViewBag.Mostrar.Precio</td>
        </tr>
    </table>
    <br />
    <br />
    <form action="/Medicametos/Pedir" method="post">
        <input type="submit" value="Realizar un pedido de este producto">
    </form>

}
else
{
    <h2>El fármaco no existe. </h2>
}